.card {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

.precio {
  margin: 0.5rem 0 1rem;
  font-weight: bold;
  color: var(--color-acento);
}

.card button {
  margin-top: auto;
  padding: 0.7rem 1rem;
  background: var(--color-acento);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background: #00a3b2;
}
