.sidebar {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.6rem 0;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.sidebar li:hover {
  color: var(--color-acento);
}

.activo {
  color: var(--color-acento);
  font-weight: 700;
}
